body{
  font-family: 'Josefin Sans', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
  background-image: url('../images/concrete_seamless.png');
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 30px;
}


footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

  /* Navbar */
/* 
  header{
    
  } */

  nav li{
    display:inline;
    padding-right:20px;
    align-content:  center;
  }


/* Grid Components */

.signs-grid{
  display:grid;
  grid-template-columns: 5;
  grid-template-rows:2;
  row-gap: 50px;
  border: 2px solid black;

}



.cap-text, .aqua-text, .pisces-text, .aires-text, .taurus-text, .gemini-text, .cancer-text{
  grid-column: 2 / 4;
  text-align: left;
}

.cap-dates, .aqua-dates, .pisces-dates, .aires-dates, .taurus-dates, .gemini-dates, .cancer-dates {
  grid-column: 4 / 5;
  text-align: right;
}

.cap-image, .aqua-image, .pisces-image, .aires-image, .taurus-image, .gemini-image, .cancer-image {
  grid-column: 1 / 1;
  object-fit: fill;
  max-height: 20px;
  max-width: 20px;
  overflow: hidden;
}