body{
  font-family: 'Josefin Sans', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
  background-image: url('../images/concrete_seamless.png');
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 30px;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

  /* Navbar */
 
/* header{
  background-color: black;
  color: white;
} */

nav a, nav a:active, nav a:visited{
  color: black;
}

nav a:hover, nav a:focus{
  text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 20px #e60073;

  animation: glow;
  transition: 0.5s;
}

nav ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 1em;
}

nav li{
  display:inline;
  padding-right:20px;
  text-align:  center;


}

ul > a.active-page{
  color: white;
  background-color: fuchsia;
}



/* Grid Components */

.signs-grid{
  display:grid;
  grid-template-columns: 5em auto 9em;
  grid-template-rows: 12;
  row-gap: 5em;
  margin: 5em;
}

.cap-image > img, .aqua-image > img, .pisces-image > img, 
.aires-image > img, .taurus-image > img, .gemini-image > img,
.cancer-image > img, .leo-image > img, .libra-image > img,
.virgo-image > img, .scorpio-image > img, .sagittarius-image > img {
 
  grid-column: 1 / 1;
  max-width: 5em;
  max-height: auto;
  align-content: center;
}

.cap-text, .aqua-text, .pisces-text, .aires-text, .taurus-text, .gemini-text, .cancer-text, .leo-text, .libra-text, .virgo-text, .scorpio-text, .sagittarius-text{
  grid-column: 2 / 2;
  padding-left: 5rem;
  /* display: inline; */
  text-align: left;
}

.cap-text > h3, .aqua-text > h3, .pisces-text > h3, 
.aires-text > h3, .taurus-text > h3, .gemini-text > h3,
.cancer-text > h3, .leo-text > h3, .libra-text > h3, 
.virgo-text > h3, .scorpio-text > h3, .sagittarius-text > h3{
  font-size: 5rem;
}

.cap-dates, .aqua-dates, .pisces-dates, .aires-dates, .taurus-dates, .gemini-dates, .cancer-dates, .leo-dates, .libra-dates, .virgo-dates, .scorpio-dates, .sagittarius-dates {
  grid-column: 3 / 3;
  text-align: left;
  font-style: italic;
  margin-top: auto ;
  margin-bottom: auto;
}

.flex {
  display: flex;
  margin: auto;

  flex-flow: row wrap;
  justify-content: center; 


}



.flex-item {
  max-width: 30%;
  max-height: 30%;
  overflow: hidden;
  filter: grayscale(100%);


}

.flex-item:hover {
  transition: 1s;
  filter: sepia(100%) hue-rotate(120deg) saturate(200%);


}
